%nav
  .nav-wrapper.fixed
    %a.brand-logo{:href => "#"} Spencer Makes Things
    %ul#nav-mobile.right
      -if current_user && current_user.email == ENV["FACEBOOK_ADMIN_EMAIL"]
        %li
          %a= link_to 'New Post', new_post_path
      %li
        %a= link_to 'Home', posts_path
      %li
        %a= link_to 'Login', new_user_session_path, method: 'get'
      %li
        %a= link_to 'Logout', destroy_user_session_path, method: 'delete'
      