@import "materialize/components/color";
$primary-color: color("blue", "darken-2") !default;
$navbar-font-color: color("white", "lighten-2") !default;
$button-color: color("grey", "darken-2");
$button-color-raised: color("white", "lighten-1");

.hide {
  display: none;
}

.salt-font{
  font-family: 'Rock Salt', serif;
}

.blog-background{
	background: url('blog/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.shadow{
   /*-webkit-text-stroke-width: 1px black;*/
   text-shadow: 2px 2px 8px black;
}

.col.header{
	margin: 7px;
	background-color: #79777;
	height: 70px;
}

#fb-button{
	margin-right: 15%;
}

#profile-img{
	width: 12%;
	margin: 15px;
	position: fixed;
	top: 0px;
	right: 0px;
	border: 5px solid white;
	z-index: 100;
}
#title{
	margin-left: 20%;
}

body{
  background: grey; 
  background: -webkit-linear-gradient(left, white, grey, white); 
  background: linear-gradient(left, white, grey, white); 
}

/*.blog-background {
  background-color: black;
}*/

/*html { 
  background: url('blog/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

form {
  margin-left: 30px;
  margin-right: 30px;
}

.input-field label {
     color: #000000;
 }


 @import 'materialize';
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 *= require_tree .
 *= require_self
 */
